.pane {
    -fx-background-image: url(images/main_background.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 1034 768;
    -fx-background-position: center center;
}

.oursGreenStones {
     -fx-background-image: url(images/our_stone.png);
     -fx-background-repeat: stretch;
     -fx-background-size: 41 40;
     -fx-background-position: center center;

 }

 .enemysRedStones {
     -fx-background-image: url(images/enemy_stone.png);
     -fx-background-repeat: stretch;
     -fx-background-size: 41 40;
     -fx-background-position: center center;
 }